:root {
  --bg:white,
  --textColor:black,
  --softBlack:rgba(0,0,0,0.7),
  --softText:rgba(0,0,0,0.5),
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  overflow-x: hidden;

}

a{
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color:var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-top: auto;
  margin-right: auto;
  background-color: cyan;
  padding-left: 80%;
  padding-right: 80%;
}